---
import "../styles/global.css";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
  creator?: string;
  repoLink?: string;
}

const {
  title = "Valerio Celletti - Google Ads Consultant",
  description = "Google Ads Consultant, Imprenditore e Formatore con 13 anni di esperienza in Pay Per Click.",
  creator = "Valerio Celletti",
  repoLink = "https://github.com/vcelletti/astrolinks"
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/astrolinks/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {creator && <meta name="author" content={creator} />}
    {repoLink && <meta name="repoLink" content={repoLink} />}

    <!-- Pre-emptive script to avoid flash of incorrect theme -->
    <script>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>

  <body class="min-h-screen flex flex-col m-0 mx-5 lg:mx-auto bg-zinc-100 dark:bg-zinc-950 text-zinc-800 dark:text-zinc-100">
    <slot />
    <Footer />
  </body>
</html>
